html {
    overflow: auto;
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #fbf8f5;
}
header {
    padding-top: .1rem;
    position: relative;
    z-index: 10;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
}
#heart {
    color: #FF4242;
    cursor: pointer;
}
#heart > svg {
    height: 40px;
    width: auto;
    margin: .6rem;
    margin-left: 1.2rem;
    margin-right: 1rem;
}
@keyframes colorChange {
    0% {color: #FF4242;}
    25% {color: #FB62F6;}
    50% {color: #3ec4c0;}
    75% {color: #53d56f;}
    100% {color: #FF4242;}
}
#heart > svg:hover {
    animation-name: colorChange;
    animation-duration: 1.25s;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}
li {
    display: inline-block;
    margin-right: 2rem;
    margin-left: -1rem;
}
li > i {
    color: whitesmoke;
}
#digital-clock {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: 1.5rem;
}
body, html { 
    overflow: hidden; 
}
#content {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(212, 90, 80);
    overflow: hidden;
}
#folder {
    margin-top: 4vh;
    margin-left: 2.5vw;
    height: 78vh;
    max-width: 95vw;
    background-color: rgb(163, 163, 163);
    border: solid 3px rgb(192, 192, 192);
    border-radius: 4px; 
    overflow-y: auto; 
}
#folderNav {
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 34fr 1fr 1fr 1fr;
    height: 2rem;
    width: 95vw;
    background-color: #2b2a32;
    border-radius: 5px 5px 0 0;
    cursor:default;
    position: fixed;
}
#folderTitle {
    color: whitesmoke;
}
#circle1, #circle2, #circle3 {
    grid-row: 1;
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
}
#circle1 {
    grid-column: 2;
    background-color: rgb(55, 55, 61);
    color: #2b2a32;
}
#circle2 {
    grid-column: 3;
    background-color: rgb(55, 55, 61);
    color: #2b2a32;
}
#circle3 {
    grid-column: 4;
    background-color: #e8685d;
    color: #2b2a32;
}

#imageContainer {
    padding-top: 2.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    align-content: center;
}
#imageContainer > img {
    width: 18rem;
    padding: .6rem;
}
