body {
  margin: 0;
  background-color: #fdf5ef;
}
main {

}
:root {
  --g1: #CC99FF;
  --g2: #A9D1F7;
  --g3: #B4F0A7;
  --g4: #FFFFBF;
  --g5: #FFDFBE;
  --g6: #FFB1B0;
  }

  header {
    background: linear-gradient( to right, var(--g1), var(--g2), var(--g3), var(--g4), var(--g5), var(--g6), var(--g5), var(--g4), var(--g3), var(--g2), var(--g1) );
    height: 100vh;
    overflow: hidden;
    margin: 0px;
  }

  h1 {
    text-align: center;
  }
  
  #tiles {
    /* height: calc(100vh - 1px); */
   /* width: calc(100vw - 1px); */
   height: 1000px;
   width: 2000px; 
   /* Javascript viewport whatever or  */
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
  }
  
  .tile {
    cursor: pointer;
    position: relative;
  }
  
  .tile:hover:before {
    background-color: #201f22;
  }
  
  .tile:before {
    background-color: #161517;
    content: "";
    inset: 0.5px;
    position: absolute;
  }
  
  #title:before {
    top: 30%; 
  }

  #title {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px;
    pointer-events: none;
    width: 50vw;
    z-index: 3;
  }
  h2 {
    position: absolute;
    overflow: hidden;
    display: block;
    right: 50%;
    transform:translateX(30%);
    top: 60%;
    width: 4rem;
    z-index: 3;
    filter: drop-shadow( 2px 2px 4px #CC99FF);
    pointer-events: none;
  }

.textOutline {
  text-shadow: 2px 2px 4px #CC99FF;
  pointer-events: none;
}

.fadeIn {
  animation: fades 1.7s;
}

@keyframes fades {
  0% { opacity: 0; }
 100% { opacity: 1; }
} 

/* Qualifications */

.qualification {
  height: 100vh;
  width: 100%;
  float:left;
  clear:none;
  display: grid;
  align-content: center ;
  justify-content: center;
  row-gap: 4rem;
  background-color: #fdf5ef;
  padding-bottom: 2rem;
} 

.slideQualification {
  z-index: 3;
  display: flex;
  gap: 5rem;
  flex-direction: row;
  align-items: center;
  align-content: center;
  transform: translateX(50px);
}

#htmlIcon, #cssIcon, #jsIcon {
  height: 150px;
  width: 150px;
  margin-left: 12rem;
  margin-right: 1rem;
  z-index: 1;
}

#htmlDesc, #cssDesc, #jsDesc {
  font-size: 2rem;
  margin-right: 16rem;
  margin-left: 1rem;
  overflow-wrap: normal;
  max-width: 8rem;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  
}

@media screen and (max-height: 600px) {

}


#visualColor {
  width: 100%;
  float: left;
  clear:none;
  margin-top: -8rem;
  z-index: 3;
}


/* Slideshow div */

.slideshowContainer {
  float:left;
  clear:none;
  background-color: #86bed8;
  height: 90vh;
  width: 100%;
}