* {
  margin: 0;
}
:root {
    --g1: #CC99FF;
    --g2: #A9D1F7;
    --g3: #B4F0A7;
    --g4: #FFFFBF;
    --g5: #FFDFBE;
    --g6: #FFB1B0;
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  header {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
      to right,
      var(--g1),
      var(--g2),
      var(--g3),
      var(--g4),
      var(--g5),
      var(--g6),
      var(--g5),
      var(--g4),
      var(--g3),
      var(--g2),
      var(--g1)
    );
    height: 100vh;
    overflow: hidden;
    margin: 0px;
  }

  h1 {
    text-align: center;
  }
  
  #tiles {
    height: calc(100vh - 1px);
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;
    
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
  }
  
  .tile {
    cursor: pointer;
    position: relative;
  }
  
  .tile:hover:before {
    background-color: rgb(30, 30, 30);
  }
  
  .tile:before {
    background-color: rgb(15, 15, 15);
    content: "";
    inset: 0.5px;
    position: absolute;
  }
  
  #title {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px;
    pointer-events: none;
    width: 50vw;
    z-index: 3;
  }
  h2 {
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: -10rem;
    width: 4rem;
    z-index: 3;
    filter: drop-shadow( 2px 2px 3px #CC99FF);
  }

.textOutline {
  text-shadow: 2px 2px 5px #CC99FF;                      
}

.fadeIn {
  animation: fades 1.7s;
}

@keyframes fades {
  0% { opacity: 0; }
 100% { opacity: 1; }
}