body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #fbf8f5;
}
header {
    position: relative;
    z-index: 10;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
}
#heart {
    color: #FF4242;
    cursor: pointer;
}
#heart > svg {
    height: 40px;
    width: auto;
    margin: .6rem;
    margin-left: 1.2rem;
    margin-right: 1rem;
}
@keyframes colorChange {
    0% {color: #FF4242;}
    25% {color: #FB62F6;}
    50% {color: #3ec4c0;}
    75% {color: #53d56f;}
    100% {color: #FF4242;}
}
#heart > svg:hover {
    animation-name: colorChange;
    animation-duration: 1.25s;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}
li {
    display: inline-block;
    margin-right: 2rem;
    margin-left: -1rem;
}
li > i {
    color: whitesmoke;
}
#digital-clock {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: 1.2rem;
}
body, html { 
    overflow: hidden; 
}
#content {
    margin: 0;
    min-height: 100vh;
    background-image: url("../images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;;
}
#notesApp > h4, #notesApp > a {
    margin-left: 2rem;
}
#mainWindow {
    margin: 0;
    position: absolute;
    left: 4%;
    top: 27%;
    height: 485px;
    width: 550px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.8);
}
h2 {
    font-size: 2.7rem;
    color: rgb(220, 220, 220);
    line-height: 3.2rem;
    margin: 0;
    padding-left: 2rem;
    padding-top: 2rem;
}

#mainWindow > p {
    font-size: 1.4rem;
    color: rgb(220, 220, 220);
    margin: 0;
    padding-left: 2rem;
    padding-top: 2rem;
}
#name {
    background-color: rgb(235, 83, 75);  
    background-image: linear-gradient(60deg, rgb(235, 102, 75), rgb(233, 53, 44));    
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#username {
    background-color: rgb(235, 83, 75);  
    background-image: linear-gradient(140deg, rgb(235, 83, 75), rgb(192, 80, 214), rgb(233, 53, 44));    
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.mainWindowFront {
    z-index: 3;
}
.mainWindowBack {
    z-index: 1;
}
.notesAppFront {
    z-index: 3;
}
.notesAppBack {
    z-index: 1;
}
#mainNav {
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 14fr 1fr 1fr 1fr;
    height: 2rem;
    width: 550px;
    background-color: #2b2a32;
    border-radius: 5px 5px 0 0;
}
#mainTitle {
    color: whitesmoke;
}
#circle1, #circle2, #circle3 {
    grid-row: 1;
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
}
#circle1 {
    grid-column: 2;
    background-color: rgb(112, 177, 89);
    color: #2b2a32;
}
#circle2 {
    grid-column: 3;
    background-color: #e2b149;
    color: #2b2a32;
}
#circle3 {
    grid-column: 4;
    background-color: #e8685d;
    color: #2b2a32;
}
#folderDiv {
    position: absolute;
    right: 4%;
    top: 49%;
    z-index: 0;
    cursor: pointer;
}
#folderDiv > p {
    padding: 6px;
    width: 65px;
    margin-top: 4px;
    font-weight: 600;
    text-align: center;
    margin-left:-3px;
}
#githubDiv {
    position: absolute;
    right: 4%;
    top: 15%;
    z-index: 0;
}
#githubDiv > a {
    text-decoration: none;
    color: black;
}
#githubDiv > a > p {
    padding: 6px;
    width: 65px;
    margin-top: 4px;
    font-weight: 600;
    text-align: center;
    margin-left:-6px;
}
#instaDiv {
    position: absolute;
    right: 4%;
    top: 32%;
    z-index: 0;
}
#instaDiv > a {
    text-decoration: none;
    color: black;
}
#instaDiv > a > p {
    padding: 6px;
    width: 65px;
    margin-top: 4px;
    font-weight: 600;
    text-align: center;
    margin-left:-6px;
}

#notesApp {
    margin: 0;
    position: absolute;
    right: 17%;
    top: 15%;
    height: 505px;
    width: 425px;
    background-color: rgb(241, 239, 235);
    -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    z-index: 1;
}
#notesNav {
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 2rem;
    width: 425px;
    background-color: rgb(245, 198, 69);
}
h3 {
    font-size: 1.6rem;
}
#notesApp > p, h3 {
    margin: 0;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
}
#notesApp > p {
    font-size: 1.2rem;
}
#contact  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}
#contact > a {
    background-color: rgb(235, 83, 75);  
    background-image: linear-gradient(60deg, rgb(235, 102, 75), rgb(214, 44, 233));    
    background-size: 100%;
    background-repeat: repeat;
    border: none;
    border-radius: 4px;
    transition: 0.5s;
    size: 2rem;
    word-spacing: .5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#mail:hover .fa-envelope,
#mail .fa-envelope-open {
    display: none;
}
#mail:hover .fa-envelope-open {
    display: inline;
} 
#contact > a button:hover {
    transform: scale(1.075);
}
#nameContact {
    font-weight: 700;
    font-size: 1.2rem;
}